@import 'base/base';
@import 'base/mixin';
@import 'base/variables';
@import 'base/fonts';
@import 'common/header';
@import 'common/footer';
@import 'pages/home';


// General Styles start

.container{
    width: 940px;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat';
}

// General Styles end

// Text Styles start

h1{ 
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: $fc-white;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: $fc-dark;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 35px;
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: $fc-white;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: $fc-p;
}

a{
    text-decoration: none;
}

// Preview Styles start

.preview{
    width: 100%;
    // height: 90vh;
    padding-top: 223px;
    @include backImg(url(../images/preview_img.jpg))
}

.preview_wrapper{
    margin: 0 auto;
    text-align: center;
    width: 470px;
    @include flexBox(flex-start, center, column)
}

.preview_title{  
    margin: 0 auto;
    margin-bottom: 28px;
}

.preview_sub_title{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 33px;
}

.preview_btn{
    width: 225px;
    height: 40px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: $fc-white;
    text-align: center;
    background:$main_color;
    border-radius: 40px;
    transition: .3s all;
    margin-bottom: 225px;
    &:hover{
        background-color: #fff;
        color:$main_color;
    }
}



// Preview Styles end

// Works Style start

.works_cards{
    @include flexBox(space-between);
}

.works_card{
    width: 300px;
    height: 400px;
    padding: 20px 25px;
    border-radius: 4px;
    transition: .2s opacity;
    @include backImg(url(../images/step-2-img.jpg));
    @include flexBox(flex-end, flex-start, column);
    .step{
        width: 70px;
        height: 20px; 
        background: $main_color;
        border-radius: 40px;  
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 25px;
    }
    &:hover{
        opacity: .9;
    }
}

.works_card:first-child{
    @include backImg(url(../images/step-1-img.jpg));
}

.works_card:last-child{
    @include backImg(url(../images/step-3-img.jpg));
}

// Works Style end

// Partner Style start

.partner_cards{
    @include flexBox(space-between);
}

.partner_card{
    width: 220px;
    @include flexBox(flex-start, center, column);
    .partner_name{
        margin: 17px 0px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }
    .partner_desc{
        color: #666666;
        text-align: center;
    }
}

.partner_btn{
    display: block;
    width: 180px;
    height: 40px;
    margin: 35px auto 0px;
    border: 2px solid $main_color;
    border-radius: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    color:$main_color;
    text-align: center;
    transition: .3s all;
    &:hover{
        background-color: $main_color;
        color: $fc-white;
    }
}

// Partner Style end

// Holiday Styles start

.holiday_ideas{
    @include flexBox(space-between)
}



.holiday_idea_block{
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    position: relative;
    &:hover{
        img{
            transform: scale(1.06);
            opacity: 0.9;
        }
    }
    img{
        width: 100%;
        transition: .5s transform, opacity ;
    }
    h3{
        width: 100%;
        height: 30px;
        font-size: 22px;
        line-height: 27px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.long{
    width: 620px;
}

// Holiday Styles end

// Activity Styles start

.activity_sub_title{
    font-size: 18px;
    line-height: 14px;
    color: #666666;
    text-align: center;
    margin-bottom: 25px;
}

.avtibity_form{
    width: 481px;
    margin: 0 auto 100px;
    @include flexBox(space-between)
}

input[type = text]{
    width: 300px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    padding-left: 15px;
}

input[type = button]{
    width: 172px;
    height: 40px;
    background:$main_color;
    border-radius: 40px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $fc-white;
    transition: .3s all;
    &:hover{
        background: hsla(359, 100%, 65%, 0.8); 
    }
}

::-webkit-input-placeholder {color:#999999; font-family: Roboto; font-size: 14px; line-height: 16px; font-weight: 300;} 
::-moz-placeholder          {color:#999999; font-family: Roboto; font-size: 14px; line-height: 16px; font-weight: 300;}
:-moz-placeholder           {color:#999999; font-family: Roboto; font-size: 14px; line-height: 16px; font-weight: 300;}
:-ms-input-placeholder      {color:#999999; font-family: Roboto; font-size: 14px; line-height: 16px; font-weight: 300;}

// Activity Styles end

@import 'common/media';