footer.footer
  .container
    .footer_wrapper
      .footer_left
        span.footer_logo
          | DREAMSHARE
        .company
          span.company_span Company
          nav
            ul
              li
                a(href='#!') About
              li
                a(href='#!') Contact
              li
                a(href='#!') Press
              li
                a(href='#!') Blog
              li
                a(href='#!') Terms and Privacy
              li
                a(href='#!') Help
        span.partners_span Partners
      .footer_right
        .designed_by
          span DESIGNED BY
          img(src='./images/bitmap.svg', alt='')
