main
  // Preview start
  section.preview
    .container
      .preview_wrapper
        h1.preview_title
          | SHARE YOUR HOLIDAY DREAM
        p.preview_sub_title
          | And find the perfect partner to fullfill it
        a.preview_btn(href='#!') Find your holiday partner
  // Preview end
  // Works start
  .container
    section.works
      h2.works_title How Dreamshare works?
      .works_cards
        .works_card
          p.step Step 1
          h3 Sed leo enim, condimentum
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
        .works_card
          p.step Step 2
          h3 Morbi velit risus
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
        .works_card
          p.step Step 3
          h3 Sed leo enim, condimentum
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
  // Works end
  // Partner start
  .container
    section.partner
      h2.partner_title Meet a partner for your best holiday
      .partner_cards
        .partner_card
          img.partner_avatar(src='./images/avatar-1.png', alt='Avatar')
          span.partner_name Bradley Hunter
          p.partner_desc
            | Based in Chicago. I love playing tennis and loud music.
        .partner_card
          img.partner_avatar(src='./images/avatar-2.png', alt='Avatar')
          span.partner_name Marie Bennett
          p.partner_desc
            | Currently living in Colorado. Lover of art, languages and travelling.
        .partner_card
          img.partner_avatar(src='./images/avatar-3.png', alt='Avatar')
          span.partner_name Diana Wells
          p.partner_desc
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .partner_card
          img.partner_avatar(src='./images/avatar-4.png', alt='Avatar')
          span.partner_name Christopher Pierce
          p.partner_desc
            | Star Wars fanatic. I have a persistent enthusiasm to create new things.
      a.partner_btn(href='') See other partners
  // Partner end
  // Holiday start
  .container
    section.holiday
      h2.holiday_title Discover holiday activity ideas
      .holiday_ideas
        .holiday_idea_block
          img(src='./images/idea-1.jpg', alt='Sports and Activis')
          h3 Sports and Activis
        .holiday_idea_block
          img(src='./images/idea-2.jpg', alt='Wellness and Health')
          h3 Wellness and Health
        .holiday_idea_block
          img(src='./images/idea-3.jpg', alt='Extreme Sports and Expeditions')
          h3 Extreme Sports and Expeditions
        .holiday_idea_block
          img(src='./images/idea-4.jpg', alt='Games')
          h3 Games
        .holiday_idea_block.long
          img(src='./images/idea-5.jpg', alt='Culture and Education')
          h3 Culture and Education
        .holiday_idea_block.long
          img(src='./images/idea-6.jpg', alt='Enjomet and Relaxation')
          h3 Enjomet and Relaxation
        .holiday_idea_block
          img(src='./images/idea-7.jpg', alt='Trevelling')
          h3 Trevelling
  // Holiday end
  // Activity start
  .container
    section.activity
      h2.activity_title Crate your holiday activity
      p.activity_sub_title Hi! What are your holiday interests?
      form.avtibity_form(action='')
        input(type='text', placeholder='Enter your insterests', maxlength='32')
        input(type='button', value='Search partners')
  // Activity end