// Flex Box
@mixin flexBox($jc: flex-start, $ai: flex-start, $fd: row, $fw: wrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
}

// Background Image
@mixin backImg($bci, $bcs: cover, $bcp: center, $bcr: no-repeat) {
    background-image: $bci;
    background-size: $bcs;
    background-position: $bcp;
    background-repeat: $bcr;
}